@model QnA.Application.Admin.Queries.GetSessions.GetSessionsResult

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="card-title">My Sessions</h4>
                    <p><a asp-action="Create"><i class="fas fa-plus-square"></i> Create New</a></p>
                    <hr />
                    @if (Model.Sessions.Count > 0)
                    {
                        <div class="d-sm-flex justify-content-between">
                            <p class="d-none d-sm-block">Showing @Model.Statistics.DisplayCount out of @Model.Statistics.TotalCount</p>
                            <form asp-controller="Sessions" asp-action="Index" class="form-inline" method="get">
                                <select asp-for="@Model.Limit" asp-items="@(new SelectList(Model.LimitOptions))" class="form-control mb-3"></select>
                                <input type="submit" class="btn btn-primary ml-1 mb-3" value="Show" />
                                <p class="d-block d-sm-none ml-2">
                                    Showing @Model.Statistics.DisplayCount out of @Model.Statistics.TotalCount
                                </p>
                            </form>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Created</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Sessions)
                                {
                                    <tr id="session-@item.Id-row">
                                        @await Html.PartialAsync("_SessionColumns", item)
                                    </tr>

                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-info">You don't have any sessions yet. <strong><a asp-action="Create">Create Session</a></strong></div>
                    }
                </div>
            </div>
        </div>




    </div>
</div>




